
.navbar-custom {
  background-color: white;
  border-bottom: 1px #cccccc solid;
}

#srch-term {
  max-width: 360px;
}

/*
Tweet streams
*/
.tweet-item-content a {
  text-decoration: none;
}

.tweet-fullname {
  margin-right: 5px;
}

.tweet-username {
  color: #33b7b2;
  margin-right: 10px;
}

.tweet-item-text {
  margin-top: 5px;
}

.tweet-item-footer i {
  margin-right: 4px;
}

.retweeted-info {
  margin-right: 20px;
}
